<ion-grid>
  <ion-row class="ion-text-center m">
    <div class="img-row">
      <div>
        <h1 class="titulo-perfil">Perfil</h1>
      </div>
      <ion-avatar class="avatar-profile box">
        <img class="ion-img imagen-perfil" src="https://i.pinimg.com/564x/58/14/31/58143128ab1a8ff18806bd193c3beec3.jpg" alt="user-avatar">
      </ion-avatar>
    </div>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h2 class="user-name">Ando</h2>
      <p class="user-email">ando@gmail.com</p>
    </ion-col>
    <ion-col size="11" class="ion-text-center">
      <ion-card color="light">
        <ion-card-content>
          <ion-list>
            <ion-item type="button" color="light" class="ion-text-center">
              <ion-thumbnail slot="start">
                <ion-icon name="caret-up-circle-outline" size="large" class="icon-card-profile"></ion-icon>
              </ion-thumbnail>
              <p class="card-option-name">Subir Video</p>
            </ion-item>
      
            <ion-item type="button" color="light" class="ion-text-center">
              <ion-thumbnail slot="start">
                <ion-icon name="folder-open-outline" size="large" class="icon-card-profile"></ion-icon>
              </ion-thumbnail>
              <p class="card-option-name">Tus videos</p> 
            </ion-item>
      
            <ion-item type="button" color="light" class="ion-text-center">
              <ion-thumbnail slot="start">
                <ion-icon name="close-circle-outline" size="large" class="icon-card-profile"></ion-icon>
              </ion-thumbnail>
              <p class="card-option-name">Elimina Video</p>
            </ion-item>
      
            <ion-item type="button" color="light" class="ion-text-center">
              <ion-thumbnail slot="start">
                <ion-icon name="happy-outline" size="large" class="icon-card-profile"></ion-icon>
              </ion-thumbnail>
              <p class="card-option-name">Tu hermana</p> 
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>