.avatar-profile{
    margin-top: 5rem;
    height: 13rem;
    min-width: 13rem;
}


.img-row{
    background-image: url('../../../assets/img/bg-profile.png');
    background-repeat: no-repeat;
    padding-left: 5.5rem;
    padding-right:8rem;
}

.imagen-perfil{
    border-style: solid;
}

.titulo-perfil{
    color: black;
    font-weight: bolder;
    font-size: 40px;
}

.user-name{
    margin-right: 2rem;
    color: #ec6635;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

.user-email{
    margin-top: 0;
    color: white;
    margin-right: 2rem;
    font-size: 9px;
}

.icon-card-profile{
    height: 3rem;
    margin-left: 0.5rem;
}

.card-option-name{
    font-size: 20px;
}



  
