

<ion-content [fullscreen]="true">
  <div class="glass-content">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img class="logo puff-in-center pulsate-fwd" src="assets/img/logo-mascota.png" alt="logo">
          <h1 class="titulo slide-in-left">Show</h1>
          <h1 class="titulo slide-in-left">URself</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button routerLink="/login" class="boton-login" shape="round" color="warning">Ingresa</ion-button>
          <ion-button routerLink="/register" shape="round" class="boton-registrate" color="warning">Registrate</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>