ion-content{
    --ion-background-color: rgb(36, 35, 37);
}


h1, h2, h3, p, button{
    color: white;
}

.fuente-bienvenido{
    color: #ec6635;
}

.chip-border{
    border-radius: 2rem;
}

.icon-play{
  position: absolute;
  margin-left: 43%;
  margin-top: 25%;
}

.swiper-container{
  max-height: 60%;
}

.slide-genre-image{
  border-radius: 10px; 
  margin-left: 2rem; 
}

.slide-image{
  height: 12rem;
  border-radius: 20px; 
}

.slider-videos-tittle{
  margin-left: 5%;
}

.slider-videos-subtittle{
  margin-left: 5%;
  color: #ec6635;
}

ion-icon {
  --ionicon-stroke-width: 32px;
}

/*box de form*/
.box {
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        rgb(46, 45, 48),
        rgb(46, 45, 48) 50%,
        rgb(46, 45, 48)
      ),
      conic-gradient(from var(--border-angle), transparent 20%, rgb(223, 223, 223), #ec6635);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7px;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

.chipiChip{
  height: 3.5rem;
}

.chipiChip2{
  height: 3.5rem;
  background-color:rgb(46, 45, 48);
  box-shadow: 0.5px 1px 1px 1px #000000;;
}

.avatar{
  height: 3rem;
  min-width: 3rem;
}